@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Generasan';
    src: url('./assets/fonts/GeneralSans-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Generasan', sans-serif;
    background-color: black;
}

.swiper {
    width: 100%;
}
.bg-image {
    background-image: url(
        './assets/images/grid.png'
    );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}